body { background: #1b0512; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 16px; display: flex; }
.block-invoice-0 { color: #807fdb; font-size: 14px; margin-bottom: 5px; }
.block-auth-1 { color: #869b8c; font-size: 15px; margin-bottom: 5px; }
.block-config-2 { color: #f9ad3b; font-size: 13px; margin-bottom: 5px; }
.block-metrics-3 { color: #1eefcb; font-size: 15px; margin-bottom: 5px; }
.block-uploader-4 { color: #39a911; font-size: 15px; margin-bottom: 5px; }
.block-cart-5 { color: #4e6f51; font-size: 16px; margin-bottom: 5px; }
.block-search-6 { color: #c1d121; font-size: 19px; margin-bottom: 5px; }